body {
  margin: 0;
  text-align: center;
  /* Merriweatherのフォントに対応していないクライアントではデフォルトでserifになる */
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #d5ffff;
  position: relative;
  padding-top: 100px;
}

h1 {
  /* 幅を指定しているため左右Autoにすれば自動で中央揃えになる */
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  /* 100%のフォントサイズが16PXなので、90/16＝562.5％で90pxが画面拡大率100％のときの90ｐｘになる。ＰＸ指定しちゃうと文字サイズの設定をユーザー側が変えても変えて文字サイズ変わらん */
  font-size: 562.5%;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}

.contact-me{
  margin: 100px auto 100px auto;
}

.contact-detail{
  margin: auto auto 50px auto;

}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container{
  background-color: white;

}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 100px;
}

.pro{
  text-decoration: underline;
}

.truck-image {
  width: 150px;
}

.notebook-image {
  width: 150px;
  float: left;
  margin-right: 30px;
}

.meteor-rain-image {
  width: 150px;
  float: right;
  margin-left: 30px;
}

.skill-row{
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.dot{
  border-top-style: dotted;
  border-top-width: 8px;
  width: 50px;
  border-color: #c6c6c6;
  margin: 100px auto 100px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 20px;
  margin: 10px 15px 10px 15px;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.sername{
  color: #EAF6F6;
  margin: 50px auto 50px auto;

}
